<h1>Campgrounds</h1>

<p>Welcome to Campground page</p>

<% Campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>">
    </div>